// Background-color
$bgc-header: #AAA;
$bgc-content: #888;
$bgc-footer: #555;
$bgc-sidebar: #333;
$bgc-wrapper: #222;


// Height
$header-top-fixed-height: 70px;
$wrapper-min-height: 100vh;


// Width
$sidebar-width: 240px;
$b-container-max-width: 1200px;

// Transition duration
$sidebar-show: .3s;

// Media points
$tablet-media: 860px;